@font-face {
  font-family: "Roboto";
  src: url(./Roboto/Roboto-Medium.ttf);
}

:root {
  --main-color: rgba(51, 51, 51, 100%);
  --main-color-2: rgba(51, 51, 51, 10%);
  --sub-color: rgba(238, 238, 238, 100%);
  --sub-color2: rgba(221, 221, 221, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

.wrapper {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}

#header {
  flex-grow: 1;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--sub-color);
}
.nav-wrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}
#nav {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  background-color: var(--sub-color2);
}
#nav > div {
  width: 100%;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.menu > div {
  flex-grow: 1;
  padding: 7px 7px 7px 7px;

  width: 80%;
  height: 20px;
  font-size: 1.1em;
}

.menu > div:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.list {
  display: flex;
  width: 100%;
  background-color: var(--sub-color);
}

#selected-project {
  width: 100%;
}

.selected-task {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.selected-task > div {
  width: auto;
}
h1 {
  font-size: 40px;
}
.task {
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.task:hover {
  cursor: pointer;
  background-color: var(--main-color);
  opacity: 50%;
}

.task-list {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  height: auto;
  width: auto;
  overflow: auto;
  padding: 1rem;
}

.addtask {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 35px;
  font-size: 1.5rem;
}
button {
  margin-top: 0.5rem;
  width: 45%;
  height: 35px;
  font-size: 1.5rem;
}

.newtask {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  width: auto;
  height: auto;
  max-height: 40px;
  align-items: center;
  margin-bottom: 1.2rem;
}

.newtask:hover {
  background-color: var(--main-color-2);
  cursor: pointer;
}

p {
  flex: 7;
  font-size: 1.5rem;
  margin-left: 1rem;
}
#dtpicker {
  flex: 3;
  width: 50px;
}
